{{ define "main" }}
<section class="section container">
  <h1 class="text-4xl font-bold text-center text-primary-700 dark:text-primary-200 mb-10">{{ .Title }}</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {{ range .Data.Terms }}
    <a href="{{ .Page.RelPermalink }}" class="block p-4 m-4 bg-white dark:bg-gray-800 rounded-2xl shadow-xl hover:shadow-xl transition-all duration-300 border border-primary-500 dark:border-gray-700">
      <h2 class="text-s font-semibold text-primary-600 dark:text-primary-200 hover:underline">{{ .Page.LinkTitle }}</h2>
      <p class="mt-0 text-xs text-primary-500 dark:text-gray-400">共 {{ .Count }} 篇文章</p>
    </a>
    {{ end }}
  </div>
</section>
{{ end }}
